$dark: (
  bg: (
    tabs: #212176,
    active-bg: #4E5254,
    jesus: rgb(255, 110, 131),
    separator: rgb(134, 134, 134),
    background: #1D1D1D,
    secondary-bg: #656565,
  ),
  text: (
    active-text: rgb(135, 172, 255),
    text: #E7E7E7,
  ),
  secondary: (
    S: #919100,
    i: #8d8d8d,
    n: #b6b6b6,
    info: #797979,
    warning: #000000,
    mark: #00ddff,
    primary: #d219b3,
    secondary: #26a69a,
    accent: #06379c,
    positive: #ff0078,
    negative: #c10015,
  )
)
