@use "sass:map";
@import 'light';
@import 'dark';


$themes: (
  'light': ($light),
  'dark': ($dark),
);

@each $themeName, $theme in $themes {
  body[theme="#{$themeName}"] {
    @each $className, $colors in $theme {
      @each $colorName, $color in $colors {
        --#{$colorName}: #{$color};
      }
    }
  }
}

@each $colorName, $color in map.get($light, "text") {
  .text-#{$colorName} {
    color: var(--#{$colorName}) !important;
  }
}

@each $colorName, $color in map.get($light, "bg") {
  .bg-#{$colorName} {
    background-color: var(--#{$colorName}) !important;
  }
}

